body{
    background-color: black;
}

.card{
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url(assets/backgorund.png) no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%; 
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: black;
    list-style-type: none;
}

.insta{
list-style-image: url(assets/Insta.png);
font-family: 'Courier New', Courier, monospace;
}

.tt{
list-style-image: url(assets/Twitter.png);
font-family: 'Courier New', Courier, monospace;
}

.yt{
list-style-image: url(assets/Youtube.png);
font-family: 'Courier New', Courier, monospace;
}